node_modules/
.DS_Store
.env
.idea/cody_history.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/social-network.iml
.idea/vcs.xml
back/.mvn/wrapper/maven-wrapper.jar
back/.mvn/wrapper/maven-wrapper.properties
back/mvnw
back/mvnw.cmd
back/myapplication.log
back/myapplication.log.2024-05-06.0.gz
back/.mvn/wrapper/maven-wrapper.jar
