/frontend/dist
/frontend/build
/frontend/.node_modules
.idea
.github
/.idea
*.gz
*.log
/back/.mvn
/.idea/cody_history.xml
/back/.gitignore
*.tmp
*.com
*.jar
*.jar
/dist
/.idea
/node_modules
/.vercel
/.idea
*.xml
.idea/cody_history.xml
/dist
/node_modules
/back/target
/back/target
/back/target
