.container{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

@media only screen and (min-width: 800px) {
    .container{
        width: 632px;
        background-color: #FFFFFF;
        border-radius: 10px;
        margin-top: 16px;
        margin-bottom: 24px;
    }
}

.background{
    display: block;
    height: 160px;
    background-image: url('../../public/img/backgroundProfile.png');
    background-size: cover;
}


@media only screen and (min-width: 800px) {
    .background{
        width: 632px;
        height: 130px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

.profileFoto{
    display: block;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    margin-left: 16px;
    margin-top: -58px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 0 3px white;
    background-image: url('../../public/img/travolta.png');
}

@media only screen and (min-width: 800px) {
    .profileFoto{
        position: absolute;
        background-color: #ABACB1;
        top: 210px;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        box-shadow: 0 0 0 5px white;
        background-image: url('../../public/img/travolta.png');
    }
}

.profileName {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    padding-top: 14px;
}

@media only screen and (min-width: 800px) {
    .profileName{
        flex-direction: row;
        margin-left: 16px;
        padding-top: 30px;
        align-items: baseline;
    }
}

.name{
    font-family: 'Lato Black';
    color: #1D1E22;
    font-size: 24px;
    line-height: 24px;
    padding-right: 14px;
}

@media only screen and (min-width: 800px) {
    .name{
        font-size: 28px;
    }
}

.nickName{
    padding-top: 5px;
    font-size: 14px;
    color: #ABACB1;
}

@media only screen and (min-width: 800px) {
    .nickName{    
        font-size: 16px;
    }
}
.statistic2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 50px 20px 0;
}

@media only screen and (min-width: 800px) {
    .statistic2{
        display: flex;
        margin: 0;
    }
}
.statistic{
    display: block;
    margin-left: 16px;
    margin-right: 16px;
    justify-content: flex-start;
    order: 3;
}

@media only screen and (min-width: 800px) {
    .statistic{
        order: 0;
        display: block;
        padding-top: 10px;
        display: flex;
        margin-left: 160px;
        justify-content: flex-start;
        
    }
}

.statisticData{
    display: inline-block;
    cursor: pointer;
}

@media only screen and (min-width: 800px) {
    .statisticData{
        margin-right: 35px;
    }
}

.number{
    font-family: 'Lato';
    font-size: 22px;
    line-height: 28px;
    color: #1D1E22;
}

@media only screen and (min-width: 800px) {
    .number{
        font-family: 'Lato';
        font-size: 22px;
        line-height: 28px;
        color: #1D1E22;
    }
}

.word{
    font-size: 12px;
    color: #ABACB1;
}

@media only screen and (min-width: 800px) {
    .word{
        font-size: 12px;
        color: #ABACB1;
    }
}

.subscribed {
    width: 100%;
    color: #0057FF;
    border: 1px solid #0057FF;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 14px 0;
    margin-bottom: 24px;
    cursor: pointer;
}

@media only screen and (min-width: 800px) {
    .subscribed{
        margin-left: auto;
        margin-bottom: 0;
        width: 120px; 
        line-height: 14px;
        padding: 5px 0;  
        font-weight: 500;
        font-family: 'Roboto';
        font-size: 14px;
    }
}

.unSubscribed {
    width: 100%;
    color: #FFFFFF;
    border: 1px solid #0057FF;
    border-radius: 5px;
    background-color: #0057FF;
    padding: 14px 0;
    margin-bottom: 24px;
    cursor: pointer;
}

@media only screen and (min-width: 800px) {
    .unSubscribed{
        margin-left: auto;
        margin-bottom: 0;
        width: 120px; 
        line-height: 14px;
        padding: 5px 0;  
        font-weight: 500;
        font-family: 'Roboto';
        font-size: 14px;
    }
}



.about{
    margin-left: 16px;
    font-size: 16px;
    color:#1D1E22;
    font-family: 'Lato Regular';
}

@media only screen and (min-width: 800px) {
    .about{
        margin-left: 16px;
        font-size: 16px;
        color:#1D1E22;
        font-family: 'Lato Regular';
    }
}

.containerDates {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 800px) {
    .containerDates{
        margin-left: 16px;
        width: 540px;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 32px;
    }
}

.date p{
    display: inline;
    padding: 0;
    margin: 0 ;
    font-family: 'Lato Regular';
    font-size: 16px;
    color: #ABACB1;
}

.date {
    margin-top: 5px;
}

@media only screen and (min-width: 800px) {
    .date{
        margin-top: 0;
        margin-bottom: 0;
    }
}

.location {
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    background-image: url('../../public/img/location.svg');
    background-size: cover;
}

.nick {
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    background-image: url('../../public/img/nick.svg');
    background-size: cover;
}

.birthday {
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    background-image: url('../../public/img/birthday.svg');
    background-size: cover;
}

.br #br1, #br2, #br3{
    line-height: unset;
}

.cvButton {
    margin-left: 3px;
    width: 50px;
    color: #FFFFFF;
    border: 1px solid #0057FF;
    border-radius: 5px;
    background-color: #0057FF;
    margin-bottom: 24px;
    cursor: pointer;
}

.cvDownload {
    display: inline-block;
    margin-right: 5px;
    margin-left: 16px;
    width: 16px;
    height: 16px;
    background-image: url('../../public/img/nick.svg');
    background-size: cover;
}