.container {
    display: none;
}

@media only screen and (min-width: 960px) {
    .container{
        display: block;
        width: 312px;
        background-color: #FFFFFF;
        border-radius: 10px;
        margin-left: 16px;
        margin-top: 16px;
    }
}

.channel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    margin: 0 16px;
}

.channelLogo {
    width: 48px;
    height: 48px;
    background-size: cover;
    border-radius: 50%;
}

.channelName {
    font-size: 16px;
    font-family: 'Lato';
    color: #1D1E22;
}

.channelNick {
    cursor: pointer;
    line-height: 16px;
    font-size: 12px;
    color: #ABACB1;
}

.channelNameAndNick {
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    width: 163px;
}

.read {
    cursor: pointer;
    width: 69px;
    color: #0057FF;
    line-height: 14px;
    padding: 5px 0;
    border: 1px solid #0057FF;
    border-radius: 5px;
    background-color: #FFFFFF;
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 10px;
}

h4{
    padding: 6px 16px 21px;
    line-height: 18px;
}