.container {
    margin-top: 24px;
    margin-right: 18px;
    width: 633px;
    height: 403px;
}

.form {
    background-color: #FFFFFF;
    border-radius: 10px;
}

.nickSpan {
    margin-left: 32px;
    color: #B1B1B1;
    font-size: 9px;
    position: relative;
    top: 20px;
}

.button {
    height: 50px;
    width: 180px;
    background-color: #0057FF;
    color: #FFFFFF;
    border-radius: 10px;
    margin: 32px 18px;
    font-size: 18px;
    font-family: 'Lato';
    border: none;
}

.input {
    height: 50px;
    width: -webkit-fill-available;
    border-radius: 10px;
    border: 1px solid rgba(223, 223, 223, 1);
    margin: 0 17px 0;
    color: #555555;
    font-size: 18px;
    padding-left: 16px;
}

.location {
    height: 50px;
    width: -webkit-fill-available;
    border-radius: 10px;
    border: 1px solid rgba(223, 223, 223, 1);
    margin: 0 17px 0;
    color: #555555;
    font-size: 18px;
    padding-left: 16px;
}