.container {
    margin-top: 24px;
    margin-right: 18px;
    width: 633px;
    height: 667px;
}

.form {
    background-color: #FFFFFF;
    border-radius: 10px;
}

.nameSpan, .nickSpan {
    margin-left: 32px;
    color: #B1B1B1;
    font-size: 9px;
    position: relative;
    top: 20px;
}

.input {
    height: 50px;
    width: -webkit-fill-available;
    border-radius: 10px;
    border: 1px solid rgba(223, 223, 223, 1);
    margin: 0 17px 0;
    color: #555555;
    font-size: 18px;
    padding-left: 16px;
    font-family: 'Lato Regular';
}

.invalid {
    color: #E40060;
    margin-left: 33px;
    font-size: 9px;
    visibility: hidden;
}

.nameNick {
    width:400px;
}

.nameNickFoto {
    display: flex;
    flex-direction: row;
}

.profileFoto {
    width: 128px;
    height: 128px;
    background-image: url('../../public/img/alexandr.jpeg');
    background-size: cover;
    border-radius: 50%;
    margin: 24px 52px 24px 36px;
    display: flex;
    align-items: center
}

.aboutMe {
    padding-top: 15px;
    height: 80px;
    width: -webkit-fill-available;
    border-radius: 10px;
    border: 1px solid rgba(223, 223, 223, 1);
    margin: -20px 17px 0;
    color: #555555;
    font-size: 18px;
    padding-left: 16px;
    font-family: 'Lato Regular';
}

.aboutMeSpan {
    margin-left: 32px;
    color: #B1B1B1;
    font-size: 9px;
    position: relative;
    top: 0;
}

.location {
    height: 50px;
    width: -webkit-fill-available;
    border-radius: 10px;
    border: 1px solid rgba(223, 223, 223, 1);
    margin: 0 17px 0;
    color: #555555;
    font-size: 18px;
    padding-left: 16px;
    font-family: 'Lato Regular';
}

.dateAndPermission {
    display: flex;
    flex-direction: row;
}

.button {
    height: 50px;
    width: 180px;
    background-color: #0057FF;
    color: #FFFFFF;
    border-radius: 10px;
    margin: 32px 18px;
    font-size: 18px;
    font-family: 'Lato';
    border: none;
}

.photoSetting{
    margin: 0 auto;
    width: 25px;
    height: 21px;
    background-image: url('../../public/img/foto-settings.svg');
    background-size: cover;
}