.container {
    display: block;
    height: 46px;
    background-color: #0057FF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
    position: sticky;
    width: 100%;
    top: 0;
}

@media only screen and (min-width: 800px) {
    .container {
        display: none;
    }
}

.logo {
    height: 23px;
    width: 21px;
    background-image: url("../../img/logo-feed.svg");
}