.postAll{
    padding-top: 16px;
    margin: 0 16px 0;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E9E9E9;
}

@media only screen and (min-width: 800px) {
    .postAll{
        border-bottom: 0;
    }
}

.avatar {
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 52px;
    height: 52px;
}

@media only screen and (min-width: 800px) {
    .avatar{
        width: 64px;
        height: 64px;
    }
}

.post {
    width: 100%;
}

.nickNameDate {
    display: flex;
    justify-content: space-between;
}

.nameNick {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 800px) {
    .nameNick{
        flex-direction: row;
        align-items: center;
    }
}

.name {
    color:#1D1E22;
    font-family: 'Lato Black';
    font-size: 14px;
}

@media only screen and (min-width: 800px) {
    .name{
        margin-right: 16px;
        font-size: 16px;
    }
}

.nick {
    color:#ABACB1;
    font-size: 14px;
    line-height: 18px;
}

@media only screen and (min-width: 800px) {
    .nick{
        font-size: 16px;
    }
}

.date {
    display: flex;
    flex-direction: column;
    text-align: right;
    color: #ABACB1;
    font-size: 10px;
    line-height: 10px;
}

@media only screen and (min-width: 800px) {
    .date{
        flex-direction: row;
        font-size: 14px;
    }
}

.message {
    padding: 5px 0;
    color:#1D1E22;
    line-height: 18px;
}

.message p {
    margin: 0;
}

.attachedPicture {
    border-radius: 10px;
    margin-top: 10px;
    height: 171px;
    max-width: 100%;
}

@media only screen and (min-width: 800px) {
    .attachedPicture {
        height: 342px;
        max-width: 100%;
    }
}

.counters {
    display: flex;
    justify-content: space-between;
    max-width: 205px;
    height: 24px;
    margin-bottom: 16px;
}

@media only screen and (min-width: 800px) {
    .counters {
        max-width: 270px;
    }
}

.counters span {
    color:#B1B1B1;
    font-size: 14px;
    padding-left: 12px;
}

hr {
    border: 1px solid #E9E9E9;
}

@media only screen and (min-width: 800px) {
    hr {
        border: 0px solid #FFFFFF;
    }
}
