.container {
    margin: 0 auto;
    max-width: 633px;
    height: 403px;
}

@media only screen and (min-width: 800px) {
    .container {
        margin: 24px 18px 0 0;
        height: 100vh;
    }
}

h2 {
    margin: 15px auto 0;
    text-align: center;
}

@media only screen and (min-width: 800px) {
    h2 {
        margin: 22px 0 20px 0;
        text-align: initial;
    }
}

.form {
    background-color: #FFFFFF;
    border-radius: 10px;
}

.span {
    margin-left: 32px;
    color: #B1B1B1;
    font-size: 9px;
    position: relative;
    top: 20px;
    padding-top:20px;

}

.empty {
    padding-top: 20px;
}

.button {
    height: 50px;
    width: 180px;
    background-color: #0057FF;
    color: #FFFFFF;
    border-radius: 10px;
    margin: 32px 28px;
    font-size: 18px;
    font-family: 'Lato';
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(185, 202, 211);
}


.input {
    font-size: 18px;
    height: 0px;
    width: -webkit-fill-available;
    border-radius: 10px;
    border: 1px solid rgba(223, 223, 223, 1);
    margin: 0 17px 0 17px;
    color: #555555;
    padding-left: 16px;
    font-family: 'Lato Regular';
    visibility: hidden;
}

@media only screen and (min-width: 800px) {
    .input {
        margin: 0 217px 0 17px;
    }
}

.empty {
    margin-left: 20px;
}
