body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato Regular';
}

#root {
  background-color: #FFFFFF;
}

@media only screen and (min-width: 800px) {
  #root{
    background-color: #F4F5F6;
  }
}

@font-face{
  font-family: 'Lato Light';
  font-weight: 300;
  src: url("/fonts/Lato-Light.ttf");
}

@font-face{
  font-family: 'Lato Regular';
  font-weight: 400;
  src: url("/fonts/Lato-Regular.ttf");
}

@font-face{
  font-family: 'Lato';
  font-weight: 700;
  src: url("/fonts/Lato-Bold.ttf");
}

@font-face{
  font-family: 'Lato Black';
  font-weight: 900;
  src: url("/fonts/Lato-Black.ttf");
}

.content {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.uploadcare--widget {
  order: 2;
}

@media only screen and (min-width: 800px) {
  .uploadcare--widget {
      order: 1;
  }
}

.uploadcare--widget__button_type_open {
  order: 2;
  width: 61px;
  height: 52px;
  border-radius: 5px;
  border: 1px solid #0057FF;
  background-image: url(/img/foto.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  background-color: #FFFFFF;
  margin: 0 16px;
}

@media only screen and (min-width: 800px) {
  .uploadcare--widget__button_type_open {
      margin: 0;
      margin-right: auto;
      order: 1;
  }
}

.uploadcare--widget__button_type_open:hover {
  background: none;
  background-image: url(../../public/img/foto.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.uploadcare--widget__button_type_open:focus {
  background: none;
  background-image: url(../../public/img/foto.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  outline: none;
}

#container a.active {
  color: #0057FF;
  text-decoration: none;
  font-family: 'Lato Black';
  border-bottom: 3px solid #0057FF;
}

#setting-nav a.active {
  color: #0057FF;
  border-left: 3px solid #0057FF;
}
.settings {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}